[Unit]
Description=Beego-demo service
After=network.target

[Service]
ExecStart=/var/app/app
LimitNOFILE=65535
Restart=on-failure
#User=bdemo
#Group=bdemo

[Install]
WantedBy=multi-user.target

