# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\lerning-beego\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
